/* ------------------ */
/* ANIMAÇÃO FLOAT     */
/* ------------------ */

.grid.container .card,
.grid.container figure,
.grid.container article {
    transition: transform 0.25s ease, box-shadow 0.25s ease;
}

.grid.container .card:hover,
.grid.container figure:hover,
.grid.container article:hover {
    transform: translateY(-6px);
    box-shadow: 0 8px 22px rgba(0,0,0,0.35);
}

/* ------------------ */
/* SEU CSS ORGANIZADO */
/* ------------------ */

section header{
    border-top: 1px solid var(--stroke-color);
    padding-block: 12px 24px;
    font: var(--text-span);
}

section header a {
    justify-self: end;
    align-items: center;
    gap: 8px;
}

section header a span {
    background-image: url(../assets/img/ArrowRight.svg);
    width: 16px;
    height: 16px;
}

#featured {
    grid-area: featured;
}

#featured img {
    height: 100%;
    object-fit: cover;
}

.card {
    border-radius: 4px;
    overflow: hidden;
    position: relative;
}

.card::before {
    content: "";
    position: absolute;
    inset: 0;
    top: 50%;
    background: linear-gradient(
        180deg,
        transparent 0%,
        #020617 100%
    );
}

.card figcaption {
    position: absolute;
    bottom: 0;
    padding: 24px;
}

.card figcaption:has(.text-lg){
    padding: 12px;
}

.card h2{
    margin-top: 8px;
}

#weekly {
    grid-area: weekly;
}

#weekly > div{
    grid-template-columns: repeat(4, 292px);
}

#weekly img{
    height: 160px;
}

#weekly figure {
    position: relative;
}

#weekly figure .content-tag {
    position: absolute;
    top: 8px;
    left: 8px;
}

#weekly figure p{
    margin-top: 8px;
    font-weight: 800;
}

#ai {
    grid-area: ai;
}

#ai img{
    width: 176px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

#ai h3{
    margin-block: 8px 4px;
}

aside {
    grid-area: aside;
}

#more {
    grid-area: more;
}

#more h3{
    margin-top: 8px;
}

#more img{
    width: 72px;
    aspect-ratio: 1/1;
    object-fit: cover;
}
